html, body {
    height: 100%;
    margin: 0;
}

.websiteGeneralBackground {
    background: linear-gradient(180deg, #00000000 0%, rgb(255 209 243 / 0.36) 75%, rgb(255 122 182 / 0.5) 100%) no-repeat fixed;
    min-width: 900px;
    overflow-y: auto;
}

/* handing scroll flow */
.content {
    flex: 1;
    padding: 20px;
}

.websiteTitle {
    text-align: center;
}

.websiteDirectory {
    text-align: center;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    -webkit-border-horizontal-spacing: 25px;
    width: 80%;
    height: 30px;

}

.directoryOptions td {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#body {
    padding-left: 15%;
    padding-top: 40px;
}

.websiteBody {
    display: flex;
    flex-direction: column;
}

.websiteFooter {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.websiteTableFooter td {
    vertical-align: text-top;
    padding-left: 40px;
    padding-right: 40px;
}

.boxDefault {
    border: 0;
    box-shadow: none;
    border-radius: 8px;
    background-color: rgb(255 183 183 / 0.75);
    width: 100%;
    height: 100%;
    color: #8f0f0f;
}

.boxDefault:hover {
    background-color: rgb(255 204 204 / 0.75);
}

.boxActive:disabled {
    border: 0;
    box-shadow: none;
    border-radius: 8px;
    background-color: rgb(180 100 100 / 0.75);
    width: 100%;
    height: 100%;
    color: #3b0080;
}